h1 {
  font-size: 35px;
  color: rgb(43, 43, 43);
  display: inline;
}
h2 {
  font-size: 18px;
  color: rgb(85, 85, 85);
  margin: 10px 0px 20px 0px;
}
body {
  font-family: "Poppins";
  background: linear-gradient(-225deg, #e3fdf5 0%, #fae5d7 100%);
  min-height: 100%;
}
html,
body {
  height: 100%;
  max-width: 100%;
}
img {
  text-align: center;
  width: 80px;
}
.weather-app {
  border: solid 1px #afb1b4;
  border-radius: 10px;
  padding: 25px;
  background-color: rgba(255, 255, 255, 0.747);
  box-shadow: 0px 0px 5px rgba(124, 124, 124, 0.6);
}
.weather-app-wrapper,
.weather-app {
  width: 500px;
  margin: auto;
  display: block;
  margin-top: 30px;
}
.form-field {
  display: inline;
  padding: 5px 12px;
  margin: 12px 0px 12px 12px;
  font-size: 1rem;
  font-weight: 400;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-btn,
.geolocation-btn {
  display: inline;
  padding: 5px 12px;
  margin: 12px 12px 12px 0px;
  font-size: 1rem;
  font-weight: 400;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: ease-in-out;
  background-clip: padding-box;
}
.form-btn {
  color: #212529;
  background-color: #fff;
}
.geolocation-btn {
  color: #ffffff;
  background-color: rgb(43, 115, 248);
}
.today-temp {
  text-align: center;
  font-size: 45px;
  color: rgb(43, 43, 43);
  margin: 20px 0px 30px 0px;
  text-align: center;
  font-weight: 400;
  line-height: 1em;
}
.units {
  text-decoration: none;
  font-size: 16px;
  position: relative;
  top: -20px;
}
.weather-details {
  margin: 20px 0px 30px 0px;
  font-weight: 200;
  font-size: 16px;
}
.prediction {
  margin: 20px 0px;
  padding: 0px;
  color: rgb(43, 43, 43);
  text-align: center;
}

.temp {
  font-size: 14px;
  font-weight: 200;
  color: rgb(43, 43, 43);
}
.col-1 {
  padding: 0px;
}
.col-2 {
  padding: 2px;
  text-align: center;
}
.units {
  color: black;
  cursor: default;
}
.forecast-max-temp {
  font-weight: 400;
}

.forecast-icon {
  text-align: center;
  font-size: 10px;
}
.info {
  font-size: 12px;
  padding-top: 5px;
  padding-left: 10px;
  font-family: monospace;
}
.geolocation-btn:hover {
  background-color: rgb(44, 100, 204);
}
.form-btn:hover {
  background-color: rgb(247, 247, 247);
}
#description:first-letter {
  text-transform: capitalize;
}
